/* ............ Non-iSearch Profile stylings ............ */
.view-id-non_isearch_affiliations h4.panel-title .accordion-toggle {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  color: #212121;
  text-decoration: none;
}

.view-id-non_isearch_affiliations .views-field-field-position-title {
  font-weight: bold;
  font-size: .92em;
}

.affiliations-region .view-non-isearch-affiliations .panel-heading h4 a {
  border-bottom: none;
}

.view-id-non_isearch_affiliations .panel-body {
  padding-top: .6em;
  padding-left: 2.2em;
}

.view-id-non_isearch_affiliations .panel-heading {
  padding-left: .5em;
}

.view-id-non_isearch_affiliations .views-field-field-organization {
  font-weight: bold;
}

.field-name-field-nonisearch-email a::before {
  content: '\f0e0';
  font-family: FontAwesome;
  display: inline-block;
  margin-right: .25em;
}
/* ............ end of Non-iSearch Profile stylings ............ */